@mixin menu-items{
	padding:10px 20px;
	color:#fff;
	text-transform:capitalize;
	text-decoration:none;
	font-size:20px;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@mixin round-border($border-radius){
	-webkit-border-radius:$border-radius;
	-moz-border-radius:$border-radius;
	-ms-border-radius:$border-radius;
	-o-border-radius:$border-radius;
	border-radius:$border-radius;
	border:2px solid #fff;
}

@mixin animation-shadow{
  transform: scale(1.1);
  transition: 100ms linear all;
  box-shadow: 0 0 15px #fff;
  color:#fff;
}

@mixin section-center{
	max-width:960px;
	width:100%;
	margin:0 auto;
}

@mixin service-image{
	border: 3px solid #C8F5EE;
	border-radius: 50%;
	margin-top: 20px;
	background-color:#334960;
}