@font-face {
  font-family: "signika";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/signika/Signika-Regular.eot?") format("eot"), url("../fonts/signika/Signika-Regular.woff2") format("woff2"), url("../fonts/signika/Signika-Regular.woff") format("woff"); }
body, html {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: signika; }

/*==========================================
=            Section navigation            =
==========================================*/
#navigation {
  background-color: #334960;
  position: fixed;
  z-index: 1000;
  width: 100%; }
  #navigation .navigation-row {
    padding: 20px 0; }
  #navigation ul {
    margin-top: 5px; }
  #navigation .menus {
    padding: 10px 20px;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 20px; }

/*=====  End of Section navigation  ======*/
/*======================================
=            Section Header            =
======================================*/
#header {
  background-color: #334960;
  padding: 80px 0;
  position: relative; }
  #header .header-content {
    max-width: 960px;
    width: 100%;
    margin: 0 auto; }
  #header ul {
    margin: 100px 0; }
    #header ul .menus {
      padding: 10px 20px;
      color: #fff;
      text-transform: capitalize;
      text-decoration: none;
      font-size: 20px;
      height: 60px;
      width: 60px;
      padding: 0;
      display: block;
      margin: 0 10px;
      line-height: 60px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      border: 2px solid #fff; }
      #header ul .menus:hover {
        transform: scale(1.1);
        transition: 100ms linear all;
        box-shadow: 0 0 15px #fff;
        color: #fff; }
  #header:after {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #334960;
    bottom: -40px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 0;
    z-index: 700; }

/*=====  End of Section Header  ======*/
/*============================================
=            Section Professional            =
============================================*/
#professional-section {
  background-color: #F17C72;
  padding: 80px 0;
  position: relative; }
  #professional-section .professional-content {
    max-width: 960px;
    width: 100%;
    margin: 0 auto; }
    #professional-section .professional-content h2 {
      font-size: 35px; }
      #professional-section .professional-content h2 a:first-child {
        background-color: #2AAE96;
        text-decoration: none;
        color: #fff;
        padding: 0 3px; }
        #professional-section .professional-content h2 a:first-child:hover {
          color: #334960;
          text-decoration: none; }
      #professional-section .professional-content h2 a:last-child {
        background-color: #7F4C76;
        text-decoration: none;
        color: #fff;
        padding: 0 3px; }
        #professional-section .professional-content h2 a:last-child:hover {
          color: #334960;
          text-decoration: none; }
    #professional-section .professional-content p {
      font-size: 17px;
      padding-top: 25px; }
  #professional-section .professional-image {
    max-width: 960px;
    width: 100%;
    margin: 0 auto; }
    #professional-section .professional-image .professional-images {
      background-color: #e6655e;
      border: 3px solid #f4948b;
      text-transform: capitalize;
      font-weight: bold;
      margin: 80px 0; }
      #professional-section .professional-image .professional-images .professional-image-wrapper {
        padding: 20px; }
      #professional-section .professional-image .professional-images .boximg {
        border: 3px solid #f4948b;
        border-radius: 50%;
        margin-top: 20px;
        width: 100%; }
        #professional-section .professional-image .professional-images .boximg:hover {
          box-shadow: 0 0 10px #fff;
          color: #fff;
          transition: all 100ms linear 0s; }
      #professional-section .professional-image .professional-images .socialgroup {
        border-top: 3px solid #2aae96;
        padding: 10px 0; }
        #professional-section .professional-image .professional-images .socialgroup .socialicon {
          border: 1px solid #fff;
          border-radius: 50%;
          color: #fff;
          display: inline-block;
          height: 25px;
          line-height: 25px;
          margin: 0 0 0 5px;
          width: 25px; }
          #professional-section .professional-image .professional-images .socialgroup .socialicon:hover {
            box-shadow: 0 0 10px #fff;
            color: #fff;
            transform: scale(1.1);
            transition: all 100ms linear 0s; }
  #professional-section:after {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #F17C72;
    bottom: -40px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 0;
    z-index: 700; }

/*=====  End of Section Professional  ======*/
/*=======================================
=            Section Service            =
=======================================*/
#service-section {
  background-color: #32AC97;
  padding: 80px 0;
  position: relative; }
  #service-section .service-content {
    max-width: 960px;
    width: 100%;
    margin: 0 auto; }
    #service-section .service-content h2 {
      font-size: 35px; }
    #service-section .service-content p {
      font-size: 17px;
      padding-top: 25px; }
  #service-section .service-image {
    max-width: 960px;
    width: 100%;
    margin: 0 auto; }
    #service-section .service-image .service-images {
      background-color: #46DCC7;
      border: 3px solid #99D6CB;
      text-transform: capitalize;
      font-weight: bold;
      margin: 80px 0; }
      #service-section .service-image .service-images .service-image-wrapper {
        padding: 20px; }
      #service-section .service-image .service-images .boximg {
        border: 3px solid #C8F5EE;
        border-radius: 50%;
        margin-top: 20px;
        background-color: #334960;
        width: 100%; }
        #service-section .service-image .service-images .boximg:hover {
          box-shadow: 0 0 15px #fff;
          color: #fff;
          transition: all 100ms linear 0s; }
      #service-section .service-image .service-images p {
        font-size: 10px;
        font-weight: normal; }
  #service-section:after {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #32AC97;
    bottom: -40px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 0;
    z-index: 700; }

/*=====  End of Section Service  ======*/
/*======================================
=            Section Client            =
======================================*/
#client-section {
  background-color: #7F4C76;
  padding: 80px 0;
  position: relative; }
  #client-section .client-content {
    max-width: 960px;
    width: 100%;
    margin: 0 auto; }
    #client-section .client-content h2 {
      font-size: 35px; }
    #client-section .client-content p {
      font-size: 17px;
      padding-top: 25px; }
  #client-section .client-image {
    max-width: 960px;
    width: 100%;
    margin: 0 auto; }
    #client-section .client-image .client-images {
      text-transform: capitalize;
      font-weight: bold;
      margin: 80px 0; }
      #client-section .client-image .client-images .boximg {
        width: 100%; }
      #client-section .client-image .client-images p {
        font-size: 10px;
        font-weight: normal; }
  #client-section:after {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #7F4C76;
    bottom: -40px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 0;
    z-index: 700; }

/*=====  End of Section Client  ======*/
/*=======================================
=            Section contact            =
=======================================*/
#contact-section {
  background-color: #3F9FC9;
  padding: 80px 0;
  position: relative; }
  #contact-section .contact-content {
    max-width: 960px;
    width: 100%;
    margin: 0 auto; }
    #contact-section .contact-content h2 {
      font-size: 35px; }
    #contact-section .contact-content p {
      font-size: 17px;
      padding-top: 25px; }
  #contact-section .contact-content-wrapper {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    margin: 80px auto; }
    #contact-section .contact-content-wrapper .contact-address {
      text-transform: capitalize;
      font-size: 12px;
      font-weight: normal; }
      #contact-section .contact-content-wrapper .contact-address .contact-numbers {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 12px;
        font-weight: normal; }
        #contact-section .contact-content-wrapper .contact-address .contact-numbers dt {
          width: 70px;
          float: left;
          font-size: 12px;
          font-weight: normal; }
      #contact-section .contact-content-wrapper .contact-address .contact-social-media dt {
        float: left;
        font-size: 12px;
        font-weight: normal; }
    #contact-section .contact-content-wrapper .contact-form input {
      width: 49%;
      color: #000;
      font-size: 12px;
      font-weight: normal; }
    #contact-section .contact-content-wrapper .contact-form textarea {
      margin-top: 10px;
      width: 99%;
      color: #000;
      font-size: 12px;
      font-weight: normal; }
    #contact-section .contact-content-wrapper .contact-form button {
      display: block;
      margin: 10px auto 0;
      color: #fff;
      font-size: 12px;
      font-weight: normal;
      background-color: #F17C72;
      border: none;
      padding: 3px 20px; }

/*=====  End of Section contact  ======*/

/*# sourceMappingURL=style.css.map */
